section.bookmark-section {
  padding: 0 1.8rem;
  margin-bottom: 9rem;
}

section.empty-section {
  max-width: 83.5rem;
  height: 85rem;
}

div.empty-bookmark-container {
  width: clamp(20rem, 20vw, 36.9rem);
  height: clamp(18.407rem, 18.407vw, 26.1rem);
  margin: 0 auto;
  margin-top: 14.8rem;
}

.empty-bookmark-container img {
  width: clamp(15.074rem, 15.074vw, 23.448rem);
  height: clamp(12.407rem, 12.407vw, 19.3rem);
}

.empty-bookmark-container h2 {
  height: clamp(2.2rem, 2.2vw, 3rem);
  font-size: clamp(1.4rem, 1.4vw, 2.5rem);
  font-weight: var(--small-fw);
  line-height: clamp(2.194rem, 2.194vw, 3.48rem);
  letter-spacing: 2%;
  color: #407bffe5;
  text-align: center;
}

@media (min-width: 768px) {
  section.bookmark-section {
    margin-bottom: 1rem;
  }

  div.empty-bookmark-container {
    margin: unset;
    margin-top: unset;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
