section.settings {
  padding: 0 2rem;
  max-width: 97.8rem;
}

li.render-settings-list-item {
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  font-weight: 500;
  line-height: clamp(2.194rem, 2.194vw, 3.657rem);
  letter-spacing: 0.02em;
  margin-top: 2.6rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.render-settings-list-item:not(:last-of-type) {
  border-bottom: 0.1rem solid #3333;
}

a.render-settings-link {
  color: #4d4d4d;
}

@media (min-width: 768px) {
  section.settings {
    margin-bottom: none;
  }

  li.render-settings-list-item:not(:last-of-type) {
    padding-bottom: 1.5rem;
    border-bottom: none;
  }

  li.render-settings-list-item:hover {
    border-bottom: 0.1rem solid #3333;
  }
}
