section.muted-user {
  padding: 0 2rem;
  margin-top: 2rem;
  max-width: 98.1rem;
}

center.no-mute-user {
  margin-top: clamp(3rem, 3vw, 5rem);
}

h2.muted-user {
  color: var(--light-blue);
  font-size: clamp(1.5rem, 1.5vw, 2.8rem);
  font-weight: 500;
  line-height: clamp(2.4rem, 2.4vw, 3.413rem);
  letter-spacing: 0.02em;
  margin-top: 2.6rem;
}

li.muted-user-list-item {
  display: flex;
  justify-content: space-between;
  width: clamp(20rem, 100%, 75.2rem);
  margin-top: clamp(2rem, 2vw, 2.6rem);
}

div.muted-user-details {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  width: 100%;
}

img.muted-user-avatar {
  width: clamp(4.2rem, 4.2vw, 9.1rem);
  height: clamp(4.2rem, 4.2vw, 9.1rem);
  margin-right: 0.5rem;
  border-radius: 50%;
}

div.muted-user-name-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3.muted-username {
  font-size: clamp(var(--m-medium-text-size), 2.6vw, 2.6rem);
  font-weight: var(--small-fw);
  line-height: clamp(var(--m-ex-small-line-height), 2.9vw, 3.169rem);
}

small.muted-user-handle {
  font-size: clamp(1rem, 1vw, 1.6rem);
  font-weight: var(--ex-small-fw);
  line-height: clamp(1.463rem, 2vw, 19.5rem);
}

p.muted-user-bio {
  margin-top: clamp(0.3rem, 0.3vw, 1rem);
  font-weight: 300;
  font-size: clamp(1.2rem, 1.2vw, 1.8rem);
  line-height: clmap(1.4.63rem, 1.4vw, 21.94rem);
  letter-spacing: 0.024rem;
  color: #000;
}

button.muted-user-btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-radius: 1.2rem;
  width: clamp(6rem, 6vw, 14.4rem);
  height: clamp(3rem, 4.3vw, 5rem);
  padding: 0.4rem 0.6rem;
  font-size: clamp(1rem, 1vw, 1.8rem);
  font-weight: var(--small-fw);
  line-height: clamp(1.707rem, 1.7vw, 2.194rem);
  letter-spacing: 0.036rem;
}

@media (min-width: 768px) {
  button.muted-user-btn {
    width: clamp(8rem, 8vw, 14.4rem);
  }

  p.muted-user-bio {
    margin-top: 1rem;
  }
}
